html, body {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace !important
  font-size: 0.95rem
}

.bg-light-gray {
  background-color: #ecf0f1
}
.bg-dark-gray {
  background-color: #34495e
}

.button {
  padding: 0.5rem 0.75rem
  border: 1px solid #34495e
  appearance: none
  font-weight: 600
  border-radius: 0.25rem
}

.label {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace
}

.input {
  padding: 0.5rem 0.75rem
  border: 1px solid #34495e
  appearance: none
  font-weight: 600
  border-radius: 0.25rem
  max-width: 70px
}